<div class="boletas">
    <div class="contanier-boletas">
        <div class="firttop">
            <h1>Boletas</h1>
            <div class="contanierbuscar">
                <input type="search" class="search" name="" id="" placeholder="Buscar.." [(ngModel)]="codBol">
                <i class="fa-solid fa-magnifying-glass search-icon" (click)="openModalSearch()"></i>
            </div>
        </div>
        <div class="contanier-filtros">
            <app-filtros class="app-filtros" (filtrosCambiados)="aplicarFiltros($event)"></app-filtros>
        </div>
        <div class="contanier-tabla">
            <table class="table">
                <thead>
                    <tr>
                        <th class="encabezado">Cod-Boleta</th>
                        <th class="encabezado">Hora</th>
                        <th class="encabezado">Fecha</th>
                        <th class="encabezado">Total</th>
                        <th class="encabezado">Mozo</th>
                        <th class="encabezado">Acción</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let boleta of listarBoleta">
                        <td>{{ boleta.cod_bol }}</td>
                        <td>{{ boleta.hora }}</td>
                        <td>{{ boleta.fec_bol }}</td>
                        <td>{{ boleta.total_bol }}</td>
                        <td>{{ boleta.nom_moz }}</td>
                        <td>
                            <button type="submit" class="btn btn-revisar" (click)="openModal(boleta)">Revisar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginacion mt-4">
            <nav aria-label="Page navigation example" *ngIf="totalPaginas > 1">
                <ul class="pagination justify-content-center">

                    <!-- Botón anterior -->
                    <li class="page-item" [class.disabled]="paginaActual === 1">
                        <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</a>
                    </li>

                    <!-- Páginas visibles -->
                    <li class="page-item" *ngFor="let pagina of generarArrayPaginas()"
                        [class.active]="paginaActual === pagina">
                        <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
                    </li>

                    <!-- Botón siguiente -->
                    <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                        <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>