<div class="head head-md-screen">
  <div class="head-content">
    <div class="head-content-left">
      <div class="logo">
        <img src="img/WasabiLimón-Logo.png" alt="logo" />
      </div>
      <span class="head-title ms-3">Panel de Control</span>
    </div>
    <div class="head-content-right">

      <button class="cart-btn-bubble ripple" (click)="openCart.emit()">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-badge-bubble" *ngIf="cartCount > 0"
          >+{{ cartCount }}</span
        >
      </button>
      <!-- Usuario -->
      <div
        class="head-user-avatar-contanier ms-3"
        (mouseleave)="closeUserMenu()"
      >
        <div
          class="head-user-avatar"
          tabindex="0"
          (click)="toggleUserMenu()"
          (blur)="closeUserMenu()"
        >
          <img [src]="userAvatar" alt="user" class="user-avatar" />
          <div class="circle-indicator pulse"></div>
        </div>
        <div class="user-dropdown" *ngIf="showUserMenu">
          <a (click)="logout.emit()">
            <i class="fa-solid fa-right-from-bracket"></i> Salir
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
