$color-azul: #699dfa;
$color-topedido: #394b54;

.comida-reporte {
    h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 0.1rem 0rem 2rem 1rem;
    }

    .graficos {
        .contanier-graficos {
            background-color: #ffffff;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }

            h2 {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            .inputinfo {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0rem;

                input {
                    border-radius: 0.5rem 0 0 0.5rem;
                    padding: 0.5rem 1rem;
                    border: 1px solid #ccc;
                    transition: border-color 0.2s;

                    &:focus {
                        border-color: $color-topedido;
                    }
                }
                i{
                    background-color: $color-topedido;
                    color: white;
                    padding: 0.8rem 1rem;
                    border-radius: 0 0.5rem 0.5rem 0;
                    transition: transform 0.2s ease-in-out;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }

            canvas {
                display: block;
                width: 100% !important;
                height: 300px !important;
            }
        }
    }
}

@media (max-width: 500px) {
    .inputinfo{
        input{
            max-width: 120px;
        }
    }
}