<div class="container py-4">
  <h2 class="text-center mb-4">Platos de {{ categoriaNombre }}</h2>

  <div *ngIf="platos.length > 0; else sinPlatos">
    <div class="grid-categorias">
      <div class="categoria-card" *ngFor="let plato of platos">
        <div class="card shadow-sm rounded-3 w-100 h-100">
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fw-semibold mb-2">{{ plato.nombre }}</span>
            <button
              class="btn btn-primary btn-sm"
              (click)="agregarAlCarrito(plato)"
            >
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #sinPlatos>
    <p class="text-center mt-4">No hay platos en esta categoría.</p>
  </ng-template>
</div>
