<div class="propinas-reporte">
  <h1>Reporte de Propinas</h1>
  <!-- Filtros usando el hijo -->
  <div class="container-filtros">
    <app-filtrospropinas
      [filtro]="filtro"
      [mozos]="mozos"
      (filtroChange)="onFiltroChange($event)"
    >
    </app-filtrospropinas>
  </div>

  <div class="container-fluid">
    <div class="row g-4">
      <div class="graficos col-12 col-md-6 col-xl-4">
        <div class="container-graficos">
          <h2>Propinas por Día</h2>
          <canvas #graficoDia class="grafico-dia"></canvas>
        </div>
      </div>
      <div class="graficos col-12 col-md-6 col-xl-4">
        <div class="container-graficos">
          <h2>Propinas por Mes</h2>
          <canvas #graficoMes class="grafico-mes"></canvas>
        </div>
      </div>
      <div class="graficos col-12 col-md-6 col-xl-4">
        <div class="container-graficos">
          <h2>Propinas por Año</h2>
          <canvas #graficoAnio class="grafico-anio"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
