<nav [class.expanded]="expanded" class="wasabi-sidebar">
  <div class="sidebar-header">
    <button class="sidebar-logo" (click)="toggle.emit()">
      <img src="img/WasabiLimón-Logo.png" alt="Logo" />
    </button>
    <span *ngIf="expanded" class="sidebar-title">Restaurante</span>
  </div>
  <ul class="sidebar-list">
    <li *ngFor="let item of items" [class.disabled]="item.disabled">
      <a
        [routerLink]="item.route"
        class="sidebar-link"
        [class.only-icon]="!expanded"
        [class.disabled]="item.disabled"
      >
        <i [class]="item.icon"></i>
        <span *ngIf="expanded">{{ item.label }}</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
<a class="sidebar-link sidebar-logout" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span *ngIf="expanded">Salir</span>
    </a>
  </div>
</nav>
