.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}

.categoria-card {
  min-height: 70px;
  width: 100%;
}

.card {
  background-color: #f8f9fa;
  transition: transform 0.2s ease-in-out;
  height: 100%;

  &:hover {
    transform: scale(1.02);
    background-color: #e2e6ea;
    cursor: pointer;
  }

  .card-body {
    padding: 0.5rem;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 500;
    color: #343a40;
  }
}


@media (max-width: 576px) {
  .grid-categorias {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 1rem; 
  }
}
